In [ ]:
Topics:
    Containers:
        Lists
        Tuples
        Sets
        Dictionaries
    Functions

In [ ]:
Scenario:
    James is a teacher of Chemistry, Physics and Math. He has 10 students with the following details
    
    subjects are : Chem, Phy, Math
    students: Joy, Agatha, Mary, Frank, Godwin, Chizulum, Enoc, Chinedu, Kenneth, Lukas
        
    math: 76,56,78,98,88,75,59,80,45,30
    phy: 72,86,70,98,89,79,69,50,85,80
    chem 75,66,77,45,83,75,59,40,65,90

# Lists

In [16]:
# create an empty list

myList = []

type(myList)

list

In [17]:
#Check the length of a list (the number of items in the list)

len(myList)

0

In [ ]:
#To populate a list:
1. use the append method   append()

In [18]:
# to create a List of the student names:

# students: Joy, Agatha, Mary, Frank, Godwin, Chizulum, Enoc, Chinedu, Kenneth, Lukas

myList.append('Joy')

In [19]:
len(myList)

1

In [20]:
print(myList)

['Joy']

In [21]:
# the append method adds items at the LAST index position of the list  

# to add an item to an exisiting list:

myList.append('Agatha')

In [22]:
len(myList)

2

In [23]:
print(myList)

['Joy', 'Agatha']

In [24]:
#Task: Add Mary to the list

myList.append('Mary')

In [25]:
len(myList)

3

In [26]:
print(myList)

['Joy', 'Agatha', 'Mary']

In [27]:
myList.append('Frank')

In [28]:
len(myList)

4

In [29]:
print(myList)

['Joy', 'Agatha', 'Mary', 'Frank']

In [67]:
# Creating Lists for the information given in the Scienario 

subject = ['Chem', 'Phy', 'Math']
students = ['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas']

math = [76,56,78,98,88,75,59,80,45,30]
phy  = [72,86,70,98,89,79,69,50,85,80]
chem  = [75,66,77,45,83,75,59,40,65,90]

IndentationError: unexpected indent (<ipython-input-67-e5b18ed7a35d>, line 6)

In [31]:
subject

['Chem', 'Phy', 'Math']

In [32]:
students

['Joy',
 'Agatha',
 'Mary',
 'Frank',
 'Godwin',
 'Chizulum',
 'Enoc',
 'Chinedu',
 'Kenneth',
 'Lukas']

In [33]:
math

[76, 56, 78, 98, 88, 75, 59, 80, 45, 30]

In [36]:
#Sub Scenario  

'''James has 5 other students: Oluyemi, Gavin, Bello, Joshua, Divine
    
He wants it added to the students list ''' 
    
# Let us explore two approaches:

# using append  

otherStudents = ['Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']

# Add the new students one at a time  

students.append('Oluyemi')
students.append('Gavin')
students.append('Bello')
students.append('Joshua')
students.append('Divine')

In [37]:
students

['Joy',
 'Agatha',
 'Mary',
 'Frank',
 'Godwin',
 'Chizulum',
 'Enoc',
 'Chinedu',
 'Kenneth',
 'Lukas',
 'Oluyemi',
 'Gavin',
 'Bello',
 'Joshua',
 'Divine']

In [38]:
# Using a FOR LOOP to add the items  

otherStudents1 = ['Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']
students1 = ['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas']

for name in otherStudents1:
    students1.append(name)
print(students1)

['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas', 'Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']

In [39]:
#Suppose I want to add a new student into the students1 list in position 3

#Use the INSERT method

#  Add Chidinma Okafor to the students1 list in the 3rd position 

newStudent = 'Chidinma Okafor'

students1.insert(3,newStudent)
students1

['Joy',
 'Agatha',
 'Mary',
 'Chidinma Okafor',
 'Frank',
 'Godwin',
 'Chizulum',
 'Enoc',
 'Chinedu',
 'Kenneth',
 'Lukas',
 'Oluyemi',
 'Gavin',
 'Bello',
 'Joshua',
 'Divine']

In [42]:
#The EXTEND Method

otherStudents1 = ['Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']
students1 = ['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas']

# GOAL: merge both lists into one long list

students1.extend(otherStudents1)

students1

['Joy',
 'Agatha',
 'Mary',
 'Frank',
 'Godwin',
 'Chizulum',
 'Enoc',
 'Chinedu',
 'Kenneth',
 'Lukas',
 'Oluyemi',
 'Gavin',
 'Bello',
 'Joshua',
 'Divine']

In [46]:
# For LOOPS  

months = ['January','February','March','April','May','June']

#get 'January' from the list 
# January in in index position 0 

months[2:5]

('March', 'April', 'May')

In [ ]:
#Syntax of a FOR LOOP  
ListName = []
for dynamicVaraible in ListName:
    Do something with the fetched item from the list

In [47]:
months = ['January','February','March','April','May','June']

for stella in months:
    print('visiting list to grab an item')
    print(stella)
    print(months.index(stella))
    print('Done with this item...going for another')

visiting list to grab an item
January
0
Done with this item...going for another
visiting list to grab an item
February
1
Done with this item...going for another
visiting list to grab an item
March
2
Done with this item...going for another
visiting list to grab an item
April
3
Done with this item...going for another
visiting list to grab an item
May
4
Done with this item...going for another
visiting list to grab an item
June
5
Done with this item...going for another

In [49]:
List2 = [23,45,66,87,43,21]

for number in List2:
    if number < 50: # Conditional Statement 
        print(number)

23
45
43
21

In [70]:
List2 = [23,45,66,87,43,21]

for number in List2:
    if number > 40 and number < 50: # Conditional Statement 
        print(number)

45
43

In [50]:
# Extend method Vs For Loop 

list1 = ['Lagos','Kinshasa', 'Nairobi', 'Addis Ababa']
list2 = ['Accra', 'Mumbai','New Dehli']

# Goal: combine into one list  

#Extend  

list1.extend(list2)
print(list1)

['Lagos', 'Kinshasa', 'Nairobi', 'Addis Ababa', 'Accra', 'Mumbai', 'New Dehli']

In [51]:
# Extend method Vs For Loop 

list1 = ['Lagos','Kinshasa', 'Nairobi', 'Addis Ababa']
list2 = ['Accra', 'Mumbai','New Dehli']

# Goal: combine into one list  

#For Loop

for item in list2:
    list1.append(item)
print(list1)

['Lagos', 'Kinshasa', 'Nairobi', 'Addis Ababa', 'Accra', 'Mumbai', 'New Dehli']

In [54]:
# Lists can hold multiple object types 

list3 = []
list3.append(4)
list3.append('Jerry')

In [55]:
print(list3)

[4, 'Jerry']

In [57]:
# Tupules

#Tuples behave mostly like lists but are immutable  

myTuple = ('Jerry', 'Mark','Sandeep')

In [58]:
type(myTuple)

tuple

In [60]:
myTuple.insert(2, 'Stanley')

AttributeError: 'tuple' object has no attribute 'insert'

In [61]:
myTuple[0]

'Jerry'

In [62]:
for item in myTuple:
    print(item)

Jerry
Mark
Sandeep

In [65]:
myTuple = ('Jerry', 'Mark','Sandeep')

print(myTuple)

('Jerry', 'Mark', 'Sandeep')

In [66]:
myTuple = (2, 5,'Sandeep')
print(myTuple)

(2, 5, 'Sandeep')

In [69]:
student1 = 'Jerry'
student1 = 'Mary'

print(student1[1:-1])

ar

In [76]:
x = 5
x
y = 6

# Sets

In [ ]:
Sets are container type that holds ONLY unique items. It does not allow duplicates

In [78]:
list4 = []
list4.append('James')
list4.append('James')

In [79]:
list4

['James', 'James']

In [80]:
mySet = set() # creating an empty set

In [81]:
type(mySet)

set

In [82]:
cityList = ['Lagos', 'Kinshasa', 'Nairobi', 'Addis Ababa', 'Accra', 'Mumbai', 'New Dehli', 'Mumbai', 'Lagos']

In [83]:
print(cityList)

['Lagos', 'Kinshasa', 'Nairobi', 'Addis Ababa', 'Accra', 'Mumbai', 'New Dehli', 'Mumbai', 'Lagos']

In [84]:
#Convert cittyList to a set  

set(cityList)

{'Accra', 'Addis Ababa', 'Kinshasa', 'Lagos', 'Mumbai', 'Nairobi', 'New Dehli'}

In [85]:
cityList = ['Lagos', 'Kinshasa', 'Nairobi', 'Addis Ababa',4,7,89,9,9]

In [86]:
cityList

['Lagos', 'Kinshasa', 'Nairobi', 'Addis Ababa', 4, 7, 89, 9, 9]

In [87]:
set(cityList)

{4, 7, 89, 9, 'Addis Ababa', 'Kinshasa', 'Lagos', 'Nairobi'}

In [101]:
print(set(cityList))

{4, 7, 9, 'Lagos', 'Kinshasa', 89, 'Addis Ababa', 'Nairobi'}

# Dictionaries

In [ ]:
Scenario:
    
    A mother has 5 kids and wants to be able to store each child's 
    name and their shoe size in a container. She has provided the following info  
    
kidNames = ['Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']

shoeSizes = [32,23,43,21,12]

In [ ]:
Dictionaries allow us to store pairs of information using KEYS and Value pairs

In [ ]:
SYNTAX:
    
    {KEY1:VALUE1, KEY2:VALUE2, KEY3:VALUE3,.....KEYn:VALUEn}

In [ ]:
RULES to Observe:
    1. Keys MUST be unique in the dictionary. No duplicate keys allowed
    2. Keys and their corresponding values MUST be seperated by a colon
    3. Items in a dictionary MUST be seperated by a comma
    4. The KEY MUSt always be an immutable object

In [102]:
# Implementation 1:

#step 1: Create an empty dictionary

shoeSizeDict = dict()
type(shoeSizeDict)

dict

In [ ]:
# SYNTAX for adding items to a dictionary

DictionaryName[KEY] = VALUE

In [89]:
shoeSizeDict['Oluyemi'] = 32
shoeSizeDict['Gavin'] = 23

In [90]:
shoeSizeDict

{'Oluyemi': 32, 'Gavin': 23}

In [91]:
kidNames = ['Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']

shoeSizes = [32,23,43,21,12]

for kid, size in zip(kidNames,shoeSizes):
    print(kid, size)

Oluyemi 32
Gavin 23
Bello 43
Joshua 21
Divine 12

In [94]:
kidNames = ['Oluyemi', 'Gavin', 'Bello', 'Joshua', 'Divine']

shoeSizes = [32,23,43,21,12]
shoeSizeDict = dict()

for kid, size in zip(kidNames,shoeSizes):
    shoeSizeDict[kid] = size

In [95]:
shoeSizeDict

{'Oluyemi': 32, 'Gavin': 23, 'Bello': 43, 'Joshua': 21, 'Divine': 12}

In [ ]:
# how can i access the neame of each child and their shoe size from the dictionary?

In [ ]:
SYNTAX to access shoes sizes for each child

nameoFDictionary[KEY]
nameoFDictionary[NAMEOFCHILD]

In [98]:
# What is the shoe size for GAVIN

shoeSizeDict['Divine']

12

In [ ]:
#TAKE HOME ASSIGNMENT  

1.  Create a SINGLE dictionary to hold the following information organized by subject

    # Creating Lists for the information given in the Scienario 

    subject = ['Chem', 'Phy', 'Math']
    students = ['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas']

    math = [76,56,78,98,88,75,59,80,45,30]
    phy  = [72,86,70,98,89,79,69,50,85,80]
    chem  = [75,66,77,45,83,75,59,40,65,90]
    
2. Show how to access each students' exam subject scores

In [99]:
months = ['January','February','March','April','May','June']

for joy in months:
    print('visiting list to grab an item')
    print(joy)
    print(months.index(joy))
    print('Done with this item...going for another')

visiting list to grab an item
January
0
Done with this item...going for another
visiting list to grab an item
February
1
Done with this item...going for another
visiting list to grab an item
March
2
Done with this item...going for another
visiting list to grab an item
April
3
Done with this item...going for another
visiting list to grab an item
May
4
Done with this item...going for another
visiting list to grab an item
June
5
Done with this item...going for another

In [100]:
cleaners = ['James','Jerry','Agatha']
DOW = ['mon', 'tue', 'wed','thur','fri','sat', 'sun']

cleanRoster = dict()

for cleaner, day in zip(cleaners,DOW):
    days = ''
    if cleaner == 'James':
        days = ['mon', 'tue']
    elif cleaner == 'Jerry':
        days = ['wed','thur']
    elif cleaner == 'Agatha':
        days = ['fri','sat', 'sun']
    else:
        pass
    
    cleanRoster[cleaner] = days
    
cleanRoster

{'James': ['mon', 'tue'],
 'Jerry': ['wed', 'thur'],
 'Agatha': ['fri', 'sat', 'sun']}